
.tag{
    padding: 1.25rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
}

.tag i{
    color: #ffffff;
    font-size: 2.1875rem;

}
main{
    overflow: visible;
    display: flex;
    justify-content: space-between;
    max-width: 77.5rem;
    width: 100%;
    height: auto;
}
article{
    /* overflow: hidden; */
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 1.25rem;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: justify; */
    max-width: 50rem;
    width: 100%;
    height: max-content; 
    padding: 0rem;
}

/* .sticky-aside{
    position: sticky;
    top: 60px;
} */


article img{
    border-radius: 50px;
    width: 740px;
    height: auto;
    box-sizing: border-box;
    /* margin: 1.25rem; */
    padding: 2.5rem;
}
section{
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex: wrap;
    flex-direction: column; 
}
section h2{
    text-align: justify;
    font-size: 2.125rem;
    padding: 0rem 2.5rem;
    margin: 1.25rem 0rem 1.875rem;
}

section p{
    text-align: justify;
    color: #333;
    font-weight: lighter;
    font-size: 1.375rem;
    padding: 0rem 2.5rem;
    margin-bottom: 1.25rem;
}
section img{
    box-sizing: border-box;
    width: 46.25rem;
}
aside img{
    border-radius: 100%;
    margin: 1.25rem;
    width: 100px;
    height: auto;
}
aside{ 
    position: sticky;
    top: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: #ffffff;
    max-width: 22.5rem;
    width: 100%;
    margin: 1.25rem;
    height: max-content;
    max-height: 728px;
    border-radius: 2.5rem;
}

aside h2{
    font-size: max(0, 2em, 34px);
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 10px;
    padding: 0 20px;
}

aside h3{
    font-size: max(0, 1.5em, 29px);
    text-align: center;
    margin-bottom: 12px;
    padding: 0 20px;
}

.redes-aside{
    /* margin-top: 1.25rem; */
    font-size: 1.875rem;
}

.redes-aside i{
    margin: 0.3125rem;
    padding: 10px 0;
}


@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.redes-aside i:hover {
    /* Você pode mudar as propriedades abaixo de acordo com o seu gosto */
    transform: scale(1.2); /* Aumenta o tamanho do ícone em 20% */
    transition: 0.3s; /* Faz a transição suave */
    filter: brightness(150%); /* Aumenta o brilho do ícone em 50% */
}



.tag:hover {
    animation: girar 2s linear infinite;
}


@media screen and (max-width: 1135px) {
    article{
        max-width: max-content;
        /* overflow: hidden; */
        /* box-sizing: border-box; */
    }

    article img{
        width: 640px;
        margin: 0;
        padding: 40px;

    }


}


@media (min-width: 769px) and (max-width: 1023px) {
    .nav-link{
        font-size: 22px;
    }
    
    main{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    aside{
        overflow: hidden;
        max-width: 750px;
        width: 100%;
        height: max-content;
        flex-wrap: nowrap;
    }

    aside img{
        width: 80px;
    }

    aside h2{
        margin: 0 0 20px 0;
        padding: 0px 20px;
        font-size: 34px;
    }

    aside h3{
        margin: 0;
        padding: 0px 20px;
        font-size: 22px;
    }

    article{
        overflow: hidden;
        max-width: calc(100vw - 40px);
        width: 100%;
        /* overflow: hidden; */
        /* box-sizing: border-box; */
    }

    article img{
        /* max-width: 700px; */
        width: 100%;
        padding: 40px 40px;
        border-radius: 50px;
        height: auto;
        /* overflow: hidden; */
        /* box-sizing: border-box; */
    }

    .redes-aside i{
        margin: 20px 0 20px 0;
    }

    section img{
        /* max-width: 750px; */
        width: 100%;
        height: auto;
        padding: 40px 40px;
        box-sizing: border-box;
        border-radius: 50px;
    }
    section h2{
        font-size: calc(2vw + 20px);
    }

    section h3{
        font-size: calc(2vw + 10px);
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    header{
        justify-content: center;
    }
    .redes img{
        display: none;
    }
    article{
        overflow: hidden;
        max-width: calc(100vw - 40px);
        width: 100%;
        /* overflow: hidden; */
        /* box-sizing: border-box; */
    }

    article img{
        /* max-width: 600px; */
        width: 100%;
    }

    main{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    aside{
        overflow: hidden;
        max-width: calc(100vw - 40px);
        height: max-content;
        flex-wrap: nowrap;
    }

    aside img{
        width: 80px;
    }

    section h2{
        font-size: calc(2vw + 20px);
    }

    section h3{
        font-size: calc(2vw + 10px);
    }

    aside h2{
        text-align: center;
        margin-bottom: 20px;
        padding: 0px 40px;
        font-size: calc(2vw + 20px);
    }

    aside h3{
        text-align: center;
        margin: 0;
        padding: 0px 40px;
        font-size: calc(2vw + 10px);
    }
    .redes-aside i{
        margin: 20px 0 20px 0;
    }

    section img{
        /* max-width: 600px; */
        width: 100%;
    }

}


@media (min-width: 425px) and (max-width: 639px) {
    main{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    article{
        /* overflow: hidden; */
        max-width: calc(100vw - 40px);
        /* min-width: 427px; */
        /* width: 300px; */
        overflow: hidden;
        /* box-sizing: border-box; */
    }

    article img{
        /* max-width: 490px; */
        width: 100%;
        padding: 40px;
        border-radius: 50px;
        /* overflow: hidden; */
        /* box-sizing: border-box; */
    }

    section h2{
        font-size: calc(2vw + 20px);
    }
    section p{
        font-size: calc(2vw + 10px);
    }

    section img{
        width: 100%;
        padding: 40px 40px;
    }

    aside{
        overflow: hidden;
        max-width: calc(100vw - 40px);
        /* max-width: 410px; */
        /* width: 100%; */
        height: max-content;
        flex-wrap: nowrap;
    }

    aside img{
        width: 80px;
    }

    aside h2{
        margin: 0 0 20px 0;
        padding: 0px 20px;
        font-size: calc(2vw + 20px);
    }

    aside h3{
        margin: 0;
        padding: 0px 20px;
        font-size: calc(2vw + 10px);
    }

    .redes-aside i{
        margin: 20px 0 20px 0;
    }

}

@media (min-width: 250px) and (max-width: 424px){

    main{
        flex-direction: column;
    }

    article{
        max-width: calc(100vw - 40px);
        overflow: hidden;
        border-radius: 20px;
    }
    article img{
        /* max-width: 490px; */
        width: 100%;
        padding: 20px;
        border-radius: 40px;
        /* overflow: hidden; */
        /* box-sizing: border-box; */
    }

    section img{
        width: 100%;
        padding: 20px 20px;
    }

    section h2{
        font-size: calc(2vw + 10px);
        padding: 0 20px;
    }
    section p{
        font-size: calc(2vw + 0px);
        padding: 20px;
        margin: 0;
    }

    aside h2{
        margin: 0 0 20px 0;
        padding: 0px 20px;
        font-size: calc(2vw + 20px);
    }

    aside h3{
        margin: 0;
        padding: 0px 20px;
        font-size: calc(2vw + 10px);
    }




    aside{
        max-width: calc(100vw - 40px)
    
    }

    #logo{
        width: 12.5rem;
    }

    .tag i{
        font-size: calc(2vw + 20px);
    }

    footer{
        font-size: calc(2vw + 0px);
    }

    .footer_redes i{
        font-size: calc(2vw + 0px);
    }
}

